/*@font-face{
	font-family: "Oswald";
	src: url("../fonts/Oswald-Regular.ttf");
}*/
body{
	background: url("../img/Baground.png");
	font-family: 'Oswald', sans-serif;
}
.container{
	width: 960px;
	margin: 0 auto;
}
#upper,
#footer{
	background-color: #7e7e7e;
}
#upper{
	height: 5px;
}

.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
#header{
	padding-top: 23px;
}
#top{
	margin-bottom: 23px;
}
.logo{
	width: 161px; 
	height: 38px;
	background: url("../img/Logo1.png") no-repeat; 
	float: left;
}
.search{
	float: right;
}
.search input[type=search]{
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	border-right: none;
	font-family: "Tahoma";
	font-size: 12px;
	padding: 9px;
	color: #b2b2b2; 
}
.search input[type=submit]{
	background-color: #29c5e6;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 32px; /*или задать padding: 9px;*/
	border: none;
	outline: none;
	margin-left: -4px;
}
.primary-menu{
	background-color: #f3f3f3;
	font-size: 0;
}
.primary-menu li{
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	text-transform: uppercase;
	color: #b2b2b2;
	width: 120px;
	height: 40px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.primary-menu li:first-child{
	border-left: 1px solid #e7e7e7;
}
.primary-menu li:last-child{
	border-right: 1px solid #e7e7e7;
}
.primary-menu li.active, .primary-menu li:hover{
	background-color: #29c5e6;
	color: #fff;
}
.primary-menu li a{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}
.banner{
	height: 330px;
	margin-bottom: 30px;
	background-color: #e2e2e2;
	padding-left: 0;
}

.slider{
	height: 280px;
	overflow: hidden;
	position: relative;
}
.slider-item{
	position: absolute;
	top: 0;
	left: 0;
}
.slider-item img{
	width: 100%;
	height: 280px;
}
.slider .slider-item .slider-text{
	position: absolute;
	top: 45px;
	left: 36px;
}
.slider-item .big-text{
	font-size: 42px; 
	color: #5a5a5a;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.slider-item .small-text{
	font-size: 20px; 
	color: #acacac;
}

.banner-menu{
	counter-reset: li;
	background-color: #f3f3f3;
	font-size: 0;
	border-bottom: 1px solid #e7e7e7;
	height: 50px;
}
.banner-menu li{
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	color: #8f8f8f;
	width: 240px;
	line-height: 50px;
	
}
.banner-menu li a:before{
	content: counter(li);
	counter-increment: li;
	display: inline-block;
	color: #fff;
	width: 24px;
	height: 24px;
	background-color: #8f8f8f;
	margin: 0 12px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.banner-menu li a{
	text-decoration: none;
	color: inherit;
}
.banner-menu li.active, .banner-menu li:hover{
	color: #29c5e6;
	}
.banner-menu li.active a:before, .banner-menu li:hover a:before{
	background-color: #29c5e6; 
}
.main-containt{
	padding: 0 10px;
	margin-bottom: 30px;
	font-size: 0;
	
}
.box{
	font-size: 12px;
	font-family: "Tahoma";
	display: inline-block;
	
	vertical-align: top;
	margin-right: 20px;
	overflow: hidden;
	}

.box:last-child{
	margin-right: 0;
}
.box .box-header{
	font-family: "Oswald";
	font-size: 14px;
	position: relative;
	text-transform: uppercase;
	color: #7e7e7e;
	margin-bottom: 15px;
}
.line .box .box-header:before{
	content: " ";
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #29c5e6;
	margin-right: 5px;
}
.line .box .box-header:after{
	content: " ";
	display: inline-block;
	position: absolute;
	height: 15px;
	width: 100%;
	background: url("../img/Title.png") repeat-x;
}
.box .box-header span{
	margin-right: 5px;
}
.line1 .box{
	width: 460px;
}
.line2 .box{
	width: 300px;
}
.line3 .box{
	width: 940px;
}
.line.line1{
	margin-bottom: 39px;
}
.line1 .box .box-image{
	width: 136px;
	height: 136px;
	float: left;
	margin: 0 19px 0 0;
	background-color: #e2e2e2;
	padding: 1px;
	border: 1px solid #c9c9c9; 
}
.line1 .box .box-text{
	text-align: justify;
	color: #8f8f8f;
}
.line1 .box .read-more{
	float: left;
	margin-top: 20px;
}
.line1 .box .read-more a, .line1 .box .read-more span{
	color: #525252; 
}
.line.line2{
	margin-bottom: 30px;
}
.line2 .box .box-text{
	text-align: justify;
	color: #8f8f8f;
}
.line2 .box .read-more{
	float: left;
	margin-top: 27px;
}
.line2 .box .read-more a{
	color: #525252; 
}

.line2 .box .box1{
	font-size: 11px;
}
.line2 .box .box1 .small-box{
	float: left;
	width: 36px;
	height: 37px;
	margin: 0 10px 5px 0;
	border: 1px solid #cccccc;
	background: #e2e2e2;
}
.line2 .box .box1 h3{
	text-transform: uppercase;
	color: #525252;
}
.line2 .box .box1 p{
	margin-top: 4px;
	color: #8f8f8f;
}
.line3 .box .background{
	width: 940px;
	height: 120px;
	margin-left: 20px;
	background: url("../img/Logo_our-client.png") no-repeat;
}



#footer{
	font-family: "Tahoma";
	padding: 10px;
	font-size: 11px;
}
#footer p{
	font-size: 11px;
}
#copy{
	font-size: 10px;
	color: #dbdbdb;
}
#copy a{
	color: inherit;
}
#logo2{
	margin-top: 10px;
	float: right;
	padding-top: 54px;
	background: url("../img/Logo-footer.png") no-repeat top right;
}
#footer .box-header{
	color: #dbdbdb;
	margin-bottom: 9px;
	padding-bottom: 5px;
	border-bottom: 1px solid #919191;
}
.box.line2{
	width: 300px;
}
.box.line3{
	width: 150px;
}
.box.line4{
	width: 150px;
}
.section .box.line2 a{
	color: #b4aeae;
}
.section .box.line2 .box-footer{
	margin-top: 7px;
	color: #dbdbdb;
	text-align: justify;
}
.section .box.line4 .social{
	padding-top: 54px;
	background: url("../img/SocialNetwork.png") no-repeat;
}
.sitemap1{
	float: left;
}

.sitemap2{
	float: right;
	padding-right: 20px;
}
.box.line3 li{
	margin-bottom: 10px;
}
.box.line3 a{
	
	text-decoration: none;
	color: #dbdbdb;
	font-size: 12px;

}
